@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input:focus, textarea {
  outline: none !important;
}

* {
  font-family: 'Lato', sans-serif;
}

/* Custom Grids */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}